.idea/
*.iml
target/
src/test/resources/index
ui/node_modules

.classpath

.project

*.prefs

*.jar

*.log

fuzzy-index
he-index
src/main/resources/assets
ui/bundle.js
/bin/
dependency-reduced-pom.xml
